
html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FDF3EA;
    font-family: 'Poppins', 'Century Gothic', 'Segoe UI', sans-serif;
}

h1{
    font-size: 24px;
    font-weight: 700;
}

h2{
    font-size: 24px;
    font-weight: 200;
}

.Header{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;

    background-color: #FDF3EA;
    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 4px solid #DABE9E;
}

/* Logo */
#logo-wrapper{
    margin-left: 72px;
    display: flex;
    align-items: center;
    gap: 12px;
}

#logo-wrapper h1{
    margin: 0;
    white-space: nowrap;
    font-size: 24px;
}
/* Center */
#center{
    margin-left: 280px;
    display: flex;
    align-items: center;
    gap: 72px;
}

#center a{
    font-size: 20px;
    font-weight: 525;
    text-decoration: none;
    color:black;
    display: flex;
    gap: 10px;
}
/* Masuk */
#tombol-masuk{
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: flex-end;
    margin-right: 72px;
}

#tombol-masuk a{
    font-size: 22px;
    text-decoration: none;
    color: #FDF3EA;
    background-color: #E07C25;
    border-radius: 10px;
    font-weight: 600;
    gap: 8px;

    display: flex;
    justify-content: flex-start;
    padding: 0 16px;
    align-items: center;
    width: 140px;
    height: 48px;
}


/* Body */
.Body-Content{  
    background-color: #f1e4d4;
    padding: 8px 10px 8px 10px; 
    position: relative; bottom: 7px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.11);
}

#Judul h1{
    font-size: 64px;
    color: #E07C25;
    text-align: center;
    justify-content: center;
    position: relative; bottom: 25px;
}

#Isi-Teks p{
    font-size: 24px;
    text-align: center;
    position: relative; bottom: 55px;
    font-weight: 540;
}

#Tombol{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative; bottom: 50px;
}

#Tombol a{
    font-size: 24px;
    text-decoration: none;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 530;
    width: 235px;
    height: 58px;
}

/* Tombol Kiri */
#btn-Lihat-Demo{
    margin-right: 48px;
    display: flex;
    justify-content: center;
    width: 235px;
    height: 58px;
    padding: 0px;
    border-radius: 20px;
    background-color: #DABE9E;
    border: none;
}

/* Tombol Kanan */
#btn-Mulai{
    margin-left: 48px;
    display: flex;
    justify-content: center;
    width: 235px;
    height: 58px;
    padding: 0px;
    border-radius: 20px;
    background-color: #FDF3EA;
    border: none;
}

/* Fitur Unggulan */
.badge-hiasan{
    width: 199px;
    height: 46px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; top: 90px;
    /* text */
    font-size: 20px;
    font-weight: 600;
    color: #E07C25;
    text-align: center;
    /* Hiasan */
    border: solid 3px #DABE9E;
    border-radius: 45px;
    background-color: #F9EADC;
}

.card-container{
    background-color: #f1e4d4;
    width: 100%;
    height: 510px;
    position: relative; top: 20px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.11);
    display: flex;
    gap: 41px;
    justify-content: center;
    align-items: center;
}

.isi-fitur{
    background-color: #ffffff;
    border: solid 3px #DABE9E;
    border-radius: 23px;
    width: 371px;
    height: 310px;
    padding: 24px;
    margin: 0;
    font-size: 20px;
}

.Header-fitur{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.logo-fitur{
    background-color: #E07C25B3;
    border-radius: 25px;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header-fitur h3{
    margin: 0; 
    font-size: 24px;
    font-weight: 600;
}

/* Cara Kerja */
.Cara-kerja h3{
    margin: 0;
    font-size: 48px;
    color: #E07C25;
    font-weight: 600;
    margin-left: 33px;
    margin-top: 47px;
}

.Cara-kerja h4{
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    margin-left: 33px;
}

.Cara-kerja p{
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    width: 238px;
    height: 150px;
    margin-left: 33px;
}

.Cara-kerja{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 36px;
}

#CaraKerja-Satu{
    background: #FFFFFF;
    border: solid 3px #DABE9E;
    border-radius: 23px;
    width: 277px;
    height: 342px;
    position: relative;
}

#Garis-satu{
    position: absolute;
    top: 36px;
    left: 149px;
}

#CaraKerja-Dua{
    background: #FFFFFF;
    border: solid 3px #DABE9E;
    border-radius: 23px;
    width: 300px;
    height: 390px;
    position: relative;
}

#Garis-dua{
    position: absolute;
    top: 36px;
    left: 170px;
}

#CaraKerja-Tiga{
    background: #FFFFFF;
    border: solid 3px #DABE9E;
    border-radius: 23px;
    width: 323px;
    height: 350px;
    position: relative;
}

#Garis-tiga{
    position: absolute;
    top: 36px;
    left: 193px;
}

#CaraKerja-Empat{
    background: #FFFFFF;
    border: solid 3px #DABE9E;
    border-radius: 23px;
    width: 298px;
    height: 315px;
}

/* FAQ */
.FAQ{
    width: 100%;
    height: 693px;
    background-color: #f1e4d4;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.11);
}

#Header-FAQ h3{
    display: flex;
    justify-content: center;
    position: relative; top:55px;
}

#Header-FAQ p{
    display: flex;
    justify-content: center;
    position: relative; bottom:30px;
}

.Kotak-pertanyaan a{
    text-decoration: none;
    color: black;
    display: flex;
    background-color: #FFFFFF;
    font-weight: 550;
    justify-content: space-between;
    align-items: center;
    height: 59px;
    width: 1306px;
    border: solid 3px #ffffff;
    border-radius: 21px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px auto;
}

/* Bottom */
.Bottom{
    width: 100%;
    height: 800px;
    background-color: #2D2D2D;
    margin-top: 83px;
}

#Header-bottom h3{
    display: flex;
    justify-content: center;
    position: relative; top:55px;
}

#Header-bottom p{
    display: flex;
    justify-content: center;
    position: relative; top:25px;
}

#Tombol-Mulai{
    background-color: #E07C25;
    width:358px ;
    height:91px ;
    margin: 70px auto;
    border-radius: 17px;
    padding: 0;
}

#Tombol-Mulai a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 28px;
    font-weight:600;
    display: flex;
    align-items: center;
    justify-content: center;
    width:358px ;
    height:91px ;
}

#penutup{
    gap: 140px;
    display: flex;
    padding-left: 50px;
    color: #FFFFFF;
}

#deskripsi-produk{
    width: 416px;
    height: 324px;
    text-align: justify;
    margin-top: 20px;
}

#header-logo{
    display: flex;
    align-items: center;
    gap: 16px;
}

#tentang-kami{
    margin-top: 20px;
    text-align: justify;
    width: 550px;
    height: 324px;
    justify-content: flex-start;
}




